@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/**** index.html header ****/
.container {
    display: flex;
    height: 488px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

header {
    width: 100%;
    height: 100%;
    font-family: Lugrasimo;
    text-align: center;
    font-size: 200%;
    padding: 40px 0px;
    font-weight: 300;
    color: #f2e8ff;
    background: url("../assets/images/longboat.jpg") center / cover;
}

body {
    font-family: Lugrasimo;
}


#navbar {
    width: 100%;
    clear: left;
    background-color: #317773;
}

#navbar li {
    display: inline-block;
    text-align: center;
    width: 33%;
}

#navbar a {
    display: inline-block;
    font-family: roboto;
    font-size: 140%;
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #E2D1F9;
}

#navbar a:hover {
    text-decoration: none;
    background-color: #E2D1F9;
    color: #317773;

}

/**** content section 1 ****/

#vikings-unkown-enemy {
    flex: 1;
    display: inline-block;
    float: left;
    padding-top: 2%;
    background-color: #E2D1F9;
    width: 50%;
}

#vikings-unkown-enemy h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 900;
    color: #317773;
}

#vikings-unkown-enemy p {
    line-height: 20px;
    margin: auto 5%;
    text-align: justify;
    font-weight: 600;
}

#viking-drinking {
    display: inline-block;
    width: 50%;
}

#viking-drinking img {
    flex: 1;
    max-width: 100%;
}

/*section 2*/

#vikings-take-over {
    flex: 1;
    display: inline-block;
    padding-top: 2%;
    float: right;
    background-color: #317773;
    width: 50%;
}

#vikings-take-over h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 900;
    color: #E2D1F9;
}

#vikings-take-over p {
    line-height: 20px;
    margin: auto 5%;
    text-align: justify;
    font-weight: 600;
}

#viking-war-cry {
    display: inline-block;
    width: 50%;
}

#viking-war-cry img {
    flex: 1;
    max-width: 100%;
}

/*** section 3 ***/

#england-strikes-back {
    flex: 1;
    display: inline-block;
    float: left;
    padding-top: 2%;
    background-color: #E2D1F9;
    width: 50%;
}

#england-strikes-back h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 900;
    color: #317773;
}

#england-strikes-back p {
    line-height: 20px;
    margin: auto 5%;
    text-align: justify;
    font-weight: 600;
}

#axes {
    display: inline-block;
    width: 50%;
}

#axes img {
    flex: 1;
    max-width: 100%;
}

/*** section 4 ***/
#return-of-the-vikings {
    flex: 1;
    display: inline-block;
    padding-top: 2%;
    float: right;
    background-color: #317773;
    width: 50%;
}

#return-of-the-vikings h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 900;
    color: #E2D1F9;
}

#return-of-the-vikings p {
    line-height: 20px;
    margin: auto 5%;
    text-align: justify;
    font-weight: 600;
}

#vikings {
    display: inline-block;
    width: 50%;
}

#vikings img {
    flex: 1;
    max-width: 100%;
}

/*** section 5 ***/
#enter-the-normans {
    flex: 1;
    display: inline-block;
    float: left;
    padding-top: 2%;
    background-color: #E2D1F9;
    width: 50%;
}

#enter-the-normans h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 900;
    color: #317773
}

#enter-the-normans p {
    line-height: 20px;
    margin: auto 5%;
    text-align: justify;
    font-weight: 600;
}

#william-img {
    display: inline-block;
    width: 50%;
}

#william-img img {
    flex: 1;
    max-width: 100%;
}